{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hi {{app.user.pseudo}}!</h1>
    <p> You're signed in with: {{app.user.email}}
{% endblock %}
